<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome to BookMyMovie!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to BookMyMovie!</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-label>
        User Name : 
    </ion-label> 
   <input [(ngModel)]="username" type="text" value="" placeholder="User"/>
   <br/>
   <br/>
   <br/>
   <ion-label>
    Password :
</ion-label>&nbsp;&nbsp; 
<input [(ngModel)]="password" type="password" value="" placeholder="user123"/>
  <br/>
  <br/>
  <ion-button (click)="login()">Login</ion-button>
    </div>
</ion-content>
